@page
@model ReviewsWebApplication.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Review List</h2>

<table>
    <thead>
        <tr>
            <th>Game</th>
            <th>Rating</th>
            <th>Reviewer</th>
        </tr>
    </thead>
    <tbody>
        @{ foreach (var reviewOverview in Model.ReviewOverviews)
            {
        <tr>
            <td>@reviewOverview.Title</td>
            <td>@reviewOverview.RatingOf100</td>
            <td><a href="Reviewers/Details?id=@reviewOverview.ReviewerID">@reviewOverview.ReviewerName</a></td>
        </tr>
            }
        }
    </tbody>
</table>