@{
    ViewBag.Title = "Game List";
}

    <h2>Game List</h2>

    <div ng-app="app" ng-controller="Index">
        <gameslist error="error"></gameslist>
        <div class="error-text">
            {{error}}
        </div>
    </div>

@section scripts {
    <script type="text/javascript">
        GamesLegacyMVC = window.GamesLegacyMVC || {};
        GamesLegacyMVC.URLMap = GamesLegacyMVC.URLMap || {};
        GamesLegacyMVC.URLMap.GetGames = '@Url.Action("GetGames", "Home")';
        GamesLegacyMVC.URLMap.GamesListTemplate = '@Url.Content("~/Scripts/Home/GamesListTemplate.html")';
    </script>
    @Scripts.Render("~/bundles/home")
}