@model GamesLegacyMVC.Models.HomeModels.IndexModel
@{
    ViewBag.Title = "Game List";
}

<h2>Game List</h2>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model.Games)
        {
            <tr>
                <td>@game.Title</td>
                <td>@game.Description</td>
            </tr>
        }
    </tbody>
</table>